<section class="abstracts" id="abstracts">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].abstracts }}</h4>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="/images/taz.2015.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Roberto Bettazzoni</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Why you need to change your way of working</h5>
                <p>Some of the most advanced technical practices allow to get sustainable and effective benefits only if you use them properly. Unfortunately the inertia in adapting the way of working to the changing needs can thwart any technological advantage.<br/>
                In this talk I discuss the reason why an appropriate change of the way of working is a non postponable need. I also present some methods and indicators to help you adapting your way of working to the product’s needs, your company's culture and the technical practices.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/p/4/000/14b/0e2/0de99c5.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Marco Trincardi</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>What is Agile?</h5>
                <p>Most of the times Agile is described as a set of practices. In this presentation I will give a different point of view of Agile, where practices are just a means to build an effective working culture.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAVJAAAAJGQyYzc1OWFkLWVmOTAtNGNkMy1hNjkwLTk3OWE0NmYzODJiNw.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Fabio Mantovani</p>
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAHHAAAAJDljNjQwYWNmLTE5N2MtNDZlMC05NWFkLTQ5MDM1OGQ2ZDIxZA.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Ivan Lombardi Borgia</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Agile in Setefi</h5>
                <p>The abstract will be available soon.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="http://mediarepository.codemotionworld.com/img/users/1630.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Paolo D'Incau</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Continuous Delivery in Java</h5>
                <h6>What we did learn hurting ourselves</h6>
                <p>We will talk about real life examples where we apply Continuous Delivery practices and principles. We will tell how you can evolve in an iterative way a CD pipeline starting from simple tasks (build and deploy on a single environment) to a multi-environment pipeline inspired by what we learned hurting ourselves. We will give concrete examples, keeping the focus on the code, the infrastructure and the relationship with the different stakeholders.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAN5AAAAJDZhOWI3NjI0LTQwY2UtNDJlZS1iNzdmLWFjNjE2YTlmNTNjMQ.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Pietro Di Bello</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Hiring Great People</h5>
                <h6>How we improved our recruiting process to build and grow a great agile team</h6>
                <p>Getting the right people will help create a great team, and will let it grow healthy. Moreover, it will keep it rooted in your company culture, and sustaining that same culture in turn. Nevertheless, too often recruiting is overlooked or completely delegated to HR or external recruiting agencies.<br/>
                In this session I’ll share our experience in building our actual recruitment process, how we got to this recruitment workflow, what lessons we’ve learned and what are the key elements of a recruitment process. I’ll also examine some differences compared to a more “traditional” way of selecting and assessing people.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAKeAAAAJGVhOTkxODBmLTNlMWEtNDE4YS1hNjQ5LTgzNjRmOTQyMmYwMw.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Danilo Poccia</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Event-driven (serverless) applications</h5>
                <p>We built event-driven user interfaces for decades. What about bringing the same approach to mobile, web, and IoT backend applications? You have to understand how data flows and what is the propagation of changes, using reactive programming techniques. You can focus on the core functionalities to build and the relationships among the resources you use. Your application behaves similarly to a “spreadsheet”, where depending resources are updated automatically when something “happens”, and is decomposed into scalable microservices without having to manage the infrastructure. The resulting architecture is efficient and cost effective to run on AWS and managing availability, scalability and security becomes part of the implementation itself.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/p/4/000/14b/0e2/0de99c5.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Marco Trincardi</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Agile banks, is it an oxymoron?</h5>
                <p>The abstract will be available soon.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/p/3/000/04a/074/0ecf0a0.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Jacopo Romei</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Extreme Contracts</h5>
                <h6>Turning negotiation into collaboration</h6>
                <p>We care too much for contracts and too little for collaboration. We maximize contracts' value as safety devices and we never focus on their value as collaboration enabler. We want contracts that go fast towards a deadline instead of finding agreements which bring you and your counterpart to trust each other as soon as possible. We read in the Agile Manifesto: "[We value] customer collaboration over contract negotiation". How can we make the latter foster the former?</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAYmAAAAJDZlOTIzODJkLTc4ZDktNGM1My05MDIwLWRiNGRhMDYzOTYxNg.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Filippo Liverani</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Test Driven Infrastructure</h5>
                <p>Many IT operations teams are used to managing infrastructure manually or with simple one-off scripts. This manual work and lack of verifiable behavior results in many issues and in uncertainty. In software development, Test Driven Development (TDD) is well recognized for improving design, increasing code quality, and allowing refactoring and better knowledge sharing.<br/>
                Similar benefits can be gained in infrastructure projects when infrastructure is treated as code, driving that code development with tests. Configuration management tools such as Chef and Puppet allow infrastructure to be easily described as code and provide a complete support to introduce and run tests. This can allow development and operations teams to collaborate and confidently deliver working infrastructure code.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="/images/dariococo.png" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Dario Coco</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Collective code ownership in Extreme Programming</h5>
                <p>What can we do to improve communication and knowledge sharing in an Agile team? Collective Code Ownership is one of the most important rules in Extreme Programming: every member of the team is responsible for the architecture.<br/>
                In this talk we'll explore the connection between CCO and the other XP rules, and we'll see some techniques that can help us in following this good practice.</p>
            </blockquote>
        </div>

    </div>
</section>
