<section class="benefits">

    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>WHAT TO EXPECT</h4>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="benefit-item wow fadeInLeft">
                            <div class="benefit-icon"><i class="icon icon-bubble-love-streamline-talk"> </i></div>
                            <h6 class="benefit-title">One great night</h6>
                            <p>We’re honoured to have 4 amazing industry experts Mike Kus, Jeremy Keith, Robin Christopherson and Sarah Parmenter!</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="benefit-item wow fadeInRight">
                            <div class="benefit-icon"><i class="icon icon-map-pin-streamline"> </i></div>
                            <h6 class="benefit-title">Location</h6>
                            <p>Altitude will be held at The Spinnaker Tower in Portsmouth. 100 metres above the sea. The views from the top are breathtaking!</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="benefit-item wow fadeInLeft">
                            <div class="benefit-icon"> <i class="icon icon-cocktail-mojito-streamline"> </i></div>
                            <h6 class="benefit-title">Free food and drink!</h6>
                            <p>With the help of our amazing sponsors we will be providing every guest 2 free drinks and cocktail canapés on the night!</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="benefit-item wow fadeInRight">
                            <div class="benefit-icon"> <i class="icon icon-armchair-chair-streamline"> </i></div>
                            <h6 class="benefit-title">Accommodation</h6>
                            <p>We’ve secured a great deal with a local five star hotel, and compiled a list of some other hotels in the area for a pleasant stay.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

