<div class="highlight">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="contact-box">
          <img src="/images/location-icon.png" alt="location icon" class="wow zoomIn">
          <h5>ADDRESS</h5>
          <p>NOI Techpark
            <br>Via Alessandro Volta, 9
            <br>Bolzano/Bozen I-39100 Italy
            <br>
            <br>Time: 9:00 AM to 6:00 PM</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="contact-box">
          <img src="/images/email-icon.png" alt="email icon" class="wow zoomIn" data-wow-delay="0.3s">
          <h5>CONTACT</h5>
          <p style="line-height: 3em;min-height: 8.5em; padding-top: 0.7em">
            <a style="display: block" href="mailto:agileatwork@xpeppers.com">agileatwork@xpeppers.com</a>
            <a style="display: block" href="tel:00390461830882">+39 0461 830882</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
