<section class="gallery" id="gallery">
    <div class="container">
        <div class="section-title">
            <h4>GALLERY</h4>
        </div>

        <div class="nav-center bottom-space-lg">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#photo-gallery" aria-controls="photo-gallery" role="tab" data-toggle="tab">Photos</a></li>
                <li role="presentation"><a href="#video-gallery" aria-controls="video-gallery" role="tab" data-toggle="tab">Videos</a></li>

            </ul>

        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="photo-gallery">

                <div class="popup-gallery">

                    <div class="row">

                        <div class="col-md-6">
                            <a href="images/gallery_1.jpg" title=""><img src="images/gallery_1.jpg" alt="gallery image" class="img-responsive wow fadeIn"></a>
                        </div>

                        <div class="col-md-6">
                            <div class="row">

                                <div class="col-sm-6">
                                    <a href="images/gallery_2.jpg" title=""><img src="images/gallery_2.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.2s"></a>
                                </div>

                                <div class="col-sm-6">
                                    <a href="images/gallery_3.jpg" title=""><img src="images/gallery_3.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.2s"></a>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-6">
                                    <a href="images/gallery_4.jpg" title=""><img src="images/gallery_4.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.4s"></a>
                                </div>

                                <div class="col-sm-6">
                                    <a href="images/gallery_5.jpg" title=""><img src="images/gallery_5.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.4s"></a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="video-gallery">

                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center media-video">
                        <div class="video-wrapper">
                            <iframe width="640" height="360" src="https://player.vimeo.com/video/119217423?color=3d96d2&amp;title=0&amp;badge=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="media-thumb">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 play-video" data-video-url="http://www.youtube.com/embed/RcGyVTAoXEU"> <img src="images/video_thumb_1.jpg" class="img-responsive center-block" alt="media">
                            <p>STRESS MANAGEMENT</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://player.vimeo.com/video/110246120?color=3d96d2&amp;title=0&amp;byline=0&amp;portrait=0"> <img src="images/video_thumb_2.jpg" class="img-responsive center-block" alt="media">
                            <p>ON LEADING</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 play-video" data-video-url="http://www.youtube.com/embed/eIho2S0ZahI"> <img src="images/video_thumb_3.jpg" class="img-responsive center-block" alt="media">
                            <p>HOW TO SPEAK</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://player.vimeo.com/video/119217423?color=3d96d2&amp;title=0&amp;byline=0&amp;portrait=0"> <img src="images/video_thumb_4.jpg" class="img-responsive center-block" alt="media">
                            <p>TECH TALKS</p>
                        </div>
                    </div>
                </div>

            </div>


    </div>

    </div>
</section>
