<section class="gallery" id="gallery">
  <div class="container">
    <!--
    <div class="section-title">
      <h4>GALLERY</h4>
    </div>
    -->
    <div class="nav-center bottom-space-lg">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#photo-gallery" aria-controls="photo-gallery" role="tab" data-toggle="tab">Photos</a></li>
        <li role="presentation"><a href="#video-gallery" aria-controls="video-gallery" role="tab" data-toggle="tab">Videos</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="photo-gallery">
        <div class="popup-gallery">
          <div class="row">
            <div class="col-md-6">
              <a href="/images/2015/2.jpg" title="image">
                <img src="/images/2015/2.jpg" alt="gallery image" class="img-responsive wow fadeIn">
              </a>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6">
                  <a href="/images/2015/7.jpg" title="">
                    <img src="/images/2015/7.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.2s">
                  </a>
                </div>
                <div class="col-sm-6">
                  <a href="/images/2015/4.jpg" title="">
                    <img src="/images/2015/4.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.2s">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <a href="/images/2015/5.jpg" title="">
                    <img src="/images/2015/5.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                  </a>
                </div>
                <div class="col-sm-6">
                  <a href="/images/2015/6.jpg" title="">
                    <img src="/images/2015/6.jpg" alt="gallery image" class="img-responsive wow fadeIn" data-wow-delay="0.4s">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="video-gallery">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center media-video">
            <div class="video-wrapper">
              <iframe width="640" height="360" src="https://www.youtube.com/embed/SFxfciZBh8E?list=PLlxZ_1r8PQFI5XnlR3qL0RdGwdbJwQTz3" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="media-thumb">
          <div class="row">
            <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://www.youtube.com/watch?v=a4gc5IPeN_Q">
              <img src="https://i.ytimg.com/vi/a4gc5IPeN_Q/hqdefault.jpg" class="img-responsive center-block" alt="media">
              <p>What is Agile?</p>
            </div>
            <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://www.youtube.com/watch?v=5dtixSAbI4c">
              <img src="https://i.ytimg.com/vi/5dtixSAbI4c/hqdefault.jpg" class="img-responsive center-block" alt="media">
              <p>Hiring Great People</p>
            </div>
            <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://www.youtube.com/watch?v=Y6juAsiurO4">
              <img src="https://i.ytimg.com/vi/Y6juAsiurO4/hqdefault.jpg" class="img-responsive center-block" alt="media">
              <p>Continuous Delivery On Java Projects</p>
            </div>
            <div class="col-xs-6 col-sm-3 play-video" data-video-url="https://www.youtube.com/watch?v=SFxfciZBh8E">
              <img src="https://i.ytimg.com/vi/SFxfciZBh8E/hqdefault.jpg" class="img-responsive center-block" alt="media">
              <p>Why You Need To Change You Way Of Working</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
