<header id="top" class="header">
  <div class="container">
    <div class="header_top-bg1">
      <div class="logo">
        <a href="/" class="heading fadeInDown">
          AGILE@WORK
        </a>
      </div>
    </div>
    <h1 class="headline fadeInDown">AGILE. DEVOPS. CLOUD. </h1>
    <div class="when_where">
      <p class="event_when">{{ site.data.t[page.locale].event_when }}</p>
      <p class="event_where"><strong>{{ site.data.t[page.locale].event_where }}</strong><br/>
      {{ site.data.t[page.locale].event_address }}</p>
    </div>
    <div style="margin-bottom:20px">
      <div class="event_when" style="font-size: 28px;">{{ site.data.t[page.locale].cfp_open }}</div>
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <a href="https://goo.gl/forms/VIn9ZpAKIbUmn35n2" target="_blank" class="btn btn-lg btn-default btn-block">{{ site.data.t[page.locale].join_now }}</a>
      </div>
    </div>
    <!--  {% include partials/signup-form.html %} -->
  </div>
</header>
