<section class="highlight">
    <div class="container">
        <p class="lead text-center">
          A <strong>1-day, double track conference</strong> about real world experiences on applied Agile methodologies,
          <br/>
          DevOps principles and Cloud infrastructure transformations.
          <br/>
          You will attend practical <strong>workshops</strong>, <strong>training</strong> sessions and <strong>talks of case studies</strong>.
        </p>

        <div class="countdown_wrap">

            <h6 class="countdown_title text-center">EVENT WILL START IN</h6>

            <ul id="countdown" data-event-date="4 december 2015 10:00:00">
                <li class="wow zoomIn" data-wow-delay="0s"> <span class="days">00</span>
                    <p class="timeRefDays">days</p>
                </li>
                <li class="wow zoomIn" data-wow-delay="0.2s"> <span class="hours">00</span>
                    <p class="timeRefHours">hours</p>
                </li>
                <li class="wow zoomIn" data-wow-delay="0.4s"> <span class="minutes">00</span>
                    <p class="timeRefMinutes">minutes</p>
                </li>
                <li class="wow zoomIn" data-wow-delay="0.6s"> <span class="seconds">00</span>
                    <p class="timeRefSeconds">seconds</p>
                </li>
            </ul>
        </div>

        <div class="text-center">
            <span class="addtocalendar atc-style-theme">
            <a class="atcb-link"><i class="fa fa-calendar"> </i> Add to My Calendar</a>
              <var class="atc_event">
                  <var class="atc_date_start">2014-12-04 10:00:00</var>
                  <var class="atc_date_end">2014-12-04 17:30:00</var>
                  <var class="atc_timezone">Europe/Rome</var>
                  <var class="atc_title">Agile@Work</var>
                  <var class="atc_description">A 1-day, double track conference about real world experiences on applied Agile methodologies, DevOps principles and Cloud infrastructure transformations. You will attend practical workshops, training sessions and talks of case studies.</var>
                  <var class="atc_location">TIS innovation park, Via Werner Von Siemens, Bolzano BZ</var>
                  <var class="atc_organizer">XPeppers, RedOddity, TIS</var>
                  <var class="atc_organizer_email">info@agileatwork.io</var>
              </var>
           </span>
        </div>
    </div>
</section>
