<section class="schedule" id="schedule">

    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].schedule }}</h4>

            <h5>{{ site.data.t[page.locale].schedule_placeholder }}</h5>

            <h5>{{ site.data.t[page.locale].schedule_summary}}</h5>
        </div>

        <div class="nav-center">
            <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
                <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Track One</a></li>
                <li role="presentation"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Track Two</a></li>
            </ul>

        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="day1">


                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Breakfast</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Gathering &amp; Welcome Speech</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Jamie Hefford</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Getting back into the deliverables business</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by George Burton</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">10:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Successful Marketing Strategy</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Carol Wood </p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">12:30 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">01:30 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Predict the future with an old trick</h2>
                            <p class="wow flipInX" data-wow-delay="0.3s">by Cody Nesbit</p>
                            <span class="date wow flipInX" data-wow-delay="0.3s">03:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet wow zoomIn" data-wow-delay="0s">

                        </div>

                        <div class="timeline-content">
                            <h2 class="wow flipInX" data-wow-delay="0.3s"> Closing Thoughts</h2>
                            <span class="date wow flipInX" data-wow-delay="0.3s">06:00 PM</span>
                        </div>
                    </div>
                </section>


            </div>
            <div role="tabpanel" class="tab-pane" id="day2">

                <section class="timeline">
                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>Topical/Industry Breakfasts</h2>
                            <span class="date">09:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2> Postcss: the future after Sass and Less</h2>
                            <p>by Andrey Sitnik</p>
                            <span class="date">10:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2> Stylish Slippy Maps: Creativity With Cartocss</h2>
                            <p>by Aurelia Moser </p>
                            <span class="date">12:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2>The Missing Slice</h2>
                            <p>by Lea Verou</p>
                            <span class="date">11:00 AM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2> Buffet Lunch </h2>
                            <span class="date">01:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2> Dragging Wordpress Core Css Into The 2000s</h2>
                            <p>by Michael Mifsud</p>
                            <span class="date">02:00 PM</span>
                        </div>
                    </div>

                    <div class="timeline-block">
                        <div class="timeline-bullet">

                        </div>

                        <div class="timeline-content">
                            <h2> Workshops &amp; Vote of Thanks</h2>
                            <span class="date">03:00 PM</span>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>

</section>
