<div class="row">
  <div class="section-title" style='margin-top: 1px'><h5>{{ site.data.t[page.locale].schedule_day_two}} - Conference</h5></div>
  <div class="col-sm-6">
    <div class="nav-center">
      <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
        <li role="presentation" class="active"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab">Room 1</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="day1">
        <section class="timeline">
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Breakfast</h2>
              <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Gathering &amp; Welcome Speech</h2>
              <p class="wow flipInX" data-wow-delay="0.3s">by Jamie Hefford</p>
              <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Getting back into the deliverables business</h2>
              <p class="wow flipInX" data-wow-delay="0.3s">by George Burton</p>
              <span class="date wow flipInX" data-wow-delay="0.3s">10:00 AM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Successful Marketing Strategy</h2>
              <p class="wow flipInX" data-wow-delay="0.3s">by Carol Wood </p>
              <span class="date wow flipInX" data-wow-delay="0.3s">12:30 PM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
              <span class="date wow flipInX" data-wow-delay="0.3s">01:30 PM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Predict the future with an old trick</h2>
              <p class="wow flipInX" data-wow-delay="0.3s">by Cody Nesbit</p>
              <span class="date wow flipInX" data-wow-delay="0.3s">03:00 PM</span>
            </div>
          </div>
          <div class="timeline-block">
            <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
            <div class="timeline-content">
              <h2 class="wow flipInX" data-wow-delay="0.3s"> Closing Thoughts</h2>
              <span class="date wow flipInX" data-wow-delay="0.3s">06:00 PM</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="nav-center">
          <ul class="nav nav-pills" role="tablist" id="schedule-tabs">
            <li role="presentation" class="active"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab">Room 2</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="day2">
            <section class="timeline">
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Breakfast</h2>
                  <span class="date wow flipInX" data-wow-delay="0.3s">08:00 AM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Gathering &amp; Welcome Speech</h2>
                  <p class="wow flipInX" data-wow-delay="0.3s">by Jamie Hefford</p>
                  <span class="date wow flipInX" data-wow-delay="0.3s">09:00 AM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Getting back into the deliverables business</h2>
                  <p class="wow flipInX" data-wow-delay="0.3s">by George Burton</p>
                  <span class="date wow flipInX" data-wow-delay="0.3s">10:00 AM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Successful Marketing Strategy</h2>
                  <p class="wow flipInX" data-wow-delay="0.3s">by Carol Wood </p>
                  <span class="date wow flipInX" data-wow-delay="0.3s">12:30 PM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Lunch</h2>
                  <span class="date wow flipInX" data-wow-delay="0.3s">01:30 PM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Predict the future with an old trick</h2>
                  <p class="wow flipInX" data-wow-delay="0.3s">by Cody Nesbit</p>
                  <span class="date wow flipInX" data-wow-delay="0.3s">03:00 PM</span>
                </div>
              </div>
              <div class="timeline-block">
                <div class="timeline-bullet wow zoomIn" data-wow-delay="0s"></div>
                <div class="timeline-content">
                  <h2 class="wow flipInX" data-wow-delay="0.3s"> Closing Thoughts</h2>
                  <span class="date wow flipInX" data-wow-delay="0.3s">06:00 PM</span>
                </div>
              </div>
            </section>
          </div>
        </div>
  </div>
</div>