<div class="row">
    <div class="section-title" style='margin-top: 1px'><h5>{{ site.data.t[page.locale].schedule_day_one}} - Workshops</h5></div>

    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>Agile Awareness</h6>
            <p>L’utilizzo dei metodi Agili stimola la collaborazione e aiuta a consegnare valore in modo frequente e continuo, fin da subito. Questo corso offre un’overview dei concetti che stanno alla base dei processi Agili per la comprensione dei valori e dei principi che guidano nell’implementazione delle pratiche note in Agilità. Capiremo cosa significa adottare un processo empirico allo sviluppo e perché è l’approccio scelto per la realtà attuale e dai processi Agili.</p>
        </blockquote>
    </div>

    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>Test Driven Development</h6>
            <p>In questo corso imparerai i principi e le pratiche che ti permetteranno di farlo! Scrivere i test prima del codice di produzione aiuta ad avere un design più pulito e disaccoppiato ed ha come piacevole side effect la produzione di una suite di test automatici che ci consentirà di lavorare con più fiducia riducendo il numero di difetti e facilitando il futuro refactoring.</p>
        </blockquote>
    </div>

    <div style='clear:both;'></div>

    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>Architetture a Microservizi</h6>
            <p>Tratteremo gli aspetti più importanti da tenere in considerazione quando si va ad approcciare il mondo dei microservizi e quali sono i vantaggi rispetto ad una architettura monolitica. Affronteremo tutte quelle pratiche che ci permettono di costruire applicazioni moderne che siano scalabili, facilmente manutenibili e allo stesso modo estendibili e pronte al cambiamento.</p>
        </blockquote>
    </div>

    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>AWS Technical Essentials</h6>
            <p>Questo corso vi introduce ai prodotti e ai servizi offerti da Amazon Web Services attraverso demo e attività di laboratorio. Questo corso fornisce le nozioni fondamentali per imparare a riconoscere i servizi AWS, consentendo decisioni informate sulle soluzioni IT in base alle esigenze aziendali e permettendo di iniziare subito a lavorare con AWS.</p>
        </blockquote>
    </div>
    <div style='clear:both;'></div>
    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>Serverless on AWS</h6>
            <p>Questo corso ha come obiettivo quello di spiegare come implementare correttamente una  architettura serverless in modo da gestire le complessità e rendere i cambiamenti futuri più facili, aspetto da non sottovalutare nel lungo periodo. Questo tipo di architetture possono rendere più facile costruire, gestire e scalare le applicazioni sul cloud, eliminando gran parte delle problematiche derivanti dalla gestione dei server.</p>
        </blockquote>
    </div>

    <div class="row abstract col-sm-6">
        <div class="col-lg-4 text-center">
            <img src="/images/blog-avatar-1.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
            <p>a name</p>
        </div>
        <blockquote class="col-md-8 blockquote" style="font-size: 15px">
            <h6>AWS IA</h6>
            <p>...</p>
        </blockquote>
    </div>
</div>