<section class="speakers" id="speakers">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>OUR SPEAKERS</h4>
        </div>

        <div class="speaker-slider">

            <div class="speaker-info wow fadeIn" data-wow-delay="0s">
                <img src="images/avatar_1.png" alt="avatar" class="img-responsive center-block">
                <p>Roberto Bettazzoni</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.1s">
                <img src="images/avatar_2.png" alt="avatar" class="img-responsive center-block">
                <p>Pietro Di Bello</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.2s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Lorenzo Cassulo</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.3s">
                <img src="images/avatar_4.png" alt="avatar" class="img-responsive center-block">
                <p>Marco Trincardi</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.4s">
                <img src="images/avatar_5.png" alt="avatar" class="img-responsive center-block">
                <p>Danilo Poccia</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.5s">
                <img src="images/avatar_6.png" alt="avatar" class="img-responsive center-block">
                <p>MailUp</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.6s">
                <img src="images/avatar_1.png" alt="avatar" class="img-responsive center-block">
                <p>Paolo D'Incau</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.7s">
                <img src="images/avatar_2.png" alt="avatar" class="img-responsive center-block">
                <p>Jacopo Romei</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.8s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Paolo Latella</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="0.9s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Ivan Lombardi Borgia</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="1.0s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Manuela Munaretto</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="1.1s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Valentina Servile</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="1.2s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Filippo Liverani</p>
                <span>...</span>
            </div>

            <div class="speaker-info wow fadeIn" data-wow-delay="1.2s">
                <img src="images/avatar_3.png" alt="avatar" class="img-responsive center-block">
                <p>Dario Coco</p>
                <span>...</span>
            </div>

        </div>

    </div>
</section>
