<section class="sponsors" id="sponsors">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>ORGANIZERS</h4>
        </div>
        <div class="sponsors-slider">
            <a href="http://www.xpeppers.com/" target="_blank" class="sponsor main">
                <img src="images/xpeppers.png" class="img-responsive" alt="XPeppers">
            </a>
            <a href="http://www.redoddity.it/" target="_blank" class="sponsor">
                <img src="images/redoddity.png" class="img-responsive" alt="RedOddity">
            </a>
            <a href="https://tis.bz.it" target="_blank" class="sponsor">
                <img src="images/tis.png" class="img-responsive" alt="TIS">
            </a>
        </div>
        <!--
        <div class="sponsor-slider wow bounceIn hidden">
            <div><img src="images/sponsor_1.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_2.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_3.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_4.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_1.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_2.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_3.png" class="img-responsive center-block" alt="sponsor"> </div>
            <div><img src="images/sponsor_4.png" class="img-responsive center-block" alt="sponsor"> </div>
        </div>
        -->
    </div>
</section>
