<section class="sponsors" id="sponsors">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].organizers }}</h4>
        </div>
        <div class="sponsors-slider">
            <a href="http://www.xpeppers.com/" target="_blank" class="sponsor main">
                <img src="/images/xpeppers.png" class="img-responsive" alt="XPeppers">
            </a>
            <a href="http://www.redoddity.it/" target="_blank" class="sponsor">
                <img src="/images/redoddity.png" class="img-responsive" alt="RedOddity">
            </a>
            <a href="https://tis.bz.it" target="_blank" class="sponsor">
                <img src="/images/tis.png" class="img-responsive" alt="TIS">
            </a>
        </div>
    </div>
</section>
