<section class="embed_twitter">

    <div class="container">
        <div class="section-title wow fadeInUp">
            <h4>WHAT PEOPLE SAYS</h4>
            <p>They love it. Read what the previous attendees had to say!</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="embed-tweet-item wow fadeInLeft">
                    <blockquote class="twitter-tweet" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                        <a href="https://twitter.com/ScottKellum/status/611220071587954688"></a>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-4">
                <div class="embed-tweet-item wow fadeInUp">
                    <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                        <a href="https://twitter.com/yeseniaa/status/611325888953733120"></a>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-4">
                <div class="embed-tweet-item wow fadeInRight">
                    <blockquote class="twitter-tweet" data-cards="hidden" lang="en" data-width="550" data-link-color="#4eae49" data-align="center">
                        <a href="https://twitter.com/surjithctly/status/616931074489200641"></a>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</section>
