<section class="abstracts" id="abstracts">
    <div class="container">

        <div class="section-title wow fadeInUp">
            <h4>{{ site.data.t[page.locale].workshops }}</h4>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/199/165/1ace62d.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Lorenzo Cassulo</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Product owner challenge</h5>
                <h6>Maximum 30 participants</h6>
                <p>An Agile game with Lego bricks that illustrates the agile mindset in the product development process.</p>
                <h6>Prerequisites</h6>
                <p>Nothing.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/p/2/000/2b9/1d8/247e5f5.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Paolo Latella</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Design your application on AWS</h5>
                <h6>Maximum 30 participants</h6>
                <p>In this workshop you will have the opportunity to design an infrasctucture using the AWS resources (EC2, S3, RDS, Lambda, API Gateway). There will be a groupwork to design 'on papar' an architecture to accomplish some specific requirements.<br/>
                During this activity will be supported by our AWS experts.</p>
                <h6>Prerequisites</h6>
                <p>Nothing. During the practical exercise you will produce a prototype on paper.</p>
            </blockquote>
        </div>

        <div class="row abstract">
            <div class="col-lg-2 text-center">
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAHHAAAAJDljNjQwYWNmLTE5N2MtNDZlMC05NWFkLTQ5MDM1OGQ2ZDIxZA.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Ivan Lombardi Borgia</p>
                <img src="https://media.licdn.com/media/p/3/000/078/08c/216d9ff.jpg" alt="speaker" class="img-circle abstract-speaker-avatar">
                <p>Manuela Munaretto</p>
            </div>
            <blockquote class="col-lg-10 blockquote">
                <h5>Improve your TDD skills </h5>
                <h6>Maximum 25 participants</h6>
                <p>An amazing opportunity for all the coders to improve their TDD skills in a safe and thrilling environment. Our lab is a 3 hours intensive practice event, focusing on the practice of TDD, essential for software development and design, away from the pressures of ‘getting things done’.</p>
                <h6>Prerequisites</h6>
                <ul>
                    <li>Prior knowledge of coding is requested</li>
                    <li>Laptop</li>
                    <li>Development Environment in your preferred language ready for tests (e.g. JUnit, PHPUnit, etc)</li>
                </ul>
            </blockquote>
        </div>

    </div>
</section>